@charset "UTF-8";
/* Колір основного тексту #757575  */
/* Колір другорядного тексту #212121 */
/* Колір частки Web лого в header #000000 */
/* Акцент #2196F3 */
/* Білий #FFFFFF */
/* Колір контактів в footer rgba(255, 255, 255, 0.6); */
/* Колір основного фону #FFFFFF */
/* Колір фону Команда #F5F4FA;  */
/* Колір фону Герой #c4c4c4  */
/*Колір фону Футер #2F303A */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #fff;
  --background-team-color: #f5f4fa;
  --background-footer-color: #2f303a;
  /* Fonts */
  --main-text-font: Roboto, sans-serif;
  --secondary-text-font: Raleway, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: var(--main-text-font);
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: var(--secondary-text-font);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.main-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  border-radius: 4px;
  border: transparent;
  min-width: 200px;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .main-button {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.list {
  list-style: none;
  text-decoration: none;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__link {
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.soc-list--background-light {
  background-color: var(--primery-white-color);
}

.soc-list__icon {
  fill: #afb1b8;
  transition: inherit;
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--primery-white-color);
}

/* -------------Backdrop модальне вікно----------- */
.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 768px) {
  .modal {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /* padding: 6px; */
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

/*  -----Modal-form--------- */
.modal__field {
  margin-bottom: 10px;
}

.modal__checkbox-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal__name-lable,
.modal__tel-lable,
.modal__mail-lable,
.modal__text-lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-wrap {
  position: relative;
}

.modal__name-input,
.modal__tel-input,
.modal__mail-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: var(--accent-color);
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__name-icon,
.modal__tel-icon,
.modal__mail-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__name-input:hover,
.modal__name-input:focus,
.modal__tel-input:hover,
.modal__tel-input:focus,
.modal__mail-input:hover,
.modal__mail-input:focus,
.modal__text-area:hover,
.modal__text-area:focus {
  border-color: #2196f3;
}

.modal__name-icon:hover,
.modal__name-icon:focus,
.modal__tel-icon:hover,
.modal__tel-icon:focus,
.modal__mail-icon:hover,
.modal__mail-icon:focus {
  fill: var(--accent-color);
}

.modal__name-input:hover + .modal__name-icon,
.modal__name-input:focus + .modal__name-icon,
.modal__tel-input:hover + .modal__tel-icon,
.modal__tel-input:focus + .modal__tel-icon,
.modal__mail-input:hover + .modal__mail-icon,
.modal__mail-input:focus + .modal__mail-icon {
  fill: var(--accent-color);
}

.modal__text-area {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 519px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: var(--accent-color);
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal__text-area::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal__agreement-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal__check-lable {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check-lable span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal__check-input:checked + .modal__check-lable span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__check-icon {
  fill: transparent;
}

.modal__check-input:checked + .modal__check-lable .modal__check-icon {
  fill: #fff;
}

.modal__button-placed {
  display: flex;
  justify-content: center;
}

.modal__button {
  width: 100%;
  max-width: 200px;
  height: 50px;
  margin-top: 30px;
}

.burger__open {
  position: absolute;
  top: 7px;
  right: 10px;
  border: none;
  background-color: var(--primery-white-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .burger__open {
    display: none;
  }
}

.burger__close {
  position: absolute;
  top: 7px;
  right: 10px;
  border: none;
  background-color: var(--primery-white-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .burger__close {
    display: none;
  }
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primery-white-color);
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}
.burger > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
.burger__nav-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  margin-bottom: 30px;
}
.burger__nav-link:hover, .burger__nav-link:focus {
  color: var(--accent-color);
}

.burger__contact-mail {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 32px;
}

.burger__contact-tel {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}

.burger__soc {
  display: flex;
  gap: 20px;
}

.burger__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.burger__soc-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  position: relative;
  top: 5px;
  left: 8px;
}

HEADER .header__nav {
  display: flex;
  align-items: center;
}

.header__box {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 276px;
}
@media screen and (min-width: 768px) {
  .header__box {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
.header__border {
  border: 1px solid #ececec;
}

/*  Logo */
.logo--color-dark > span {
  color: #000000;
}

.logo--color-light > span {
  color: var(--primery-white-color);
}

/* Site-nav */
.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: block;
    display: flex;
    margin-left: 88px;
  }
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last-child) {  
    margin-right: 50px;
}
*/
.site-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  top: 96%;
}

/* Contacts */
.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact__item + .contact__item {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.contact__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mob/studio/header-mob.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mob/studio/header-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/studio/header-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/studio/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/studio/header-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/studio/header-desktop@2x.jpg);
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 360px;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
  }
}

.hero__button {
  min-width: 216px;
  height: 50px;
}

/* display: inline-flex;
  align-items: center;
  text-align: center; */
/* Features */
.feature-list {
  list-style: none;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    max-width: 270px;
  }
}

.feature-list__icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: left;
  }
}
.feature-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Example */
.example {
  display: none;
}
@media screen and (min-width: 1200px) {
  .example {
    padding-top: 0px;
    display: block;
  }
}

.example__list {
  display: flex;
}

.example__item:not(:last-child) {
  margin-right: 30px;
}

.example__item {
  position: relative;
}

.example__actions {
  position: relative;
}

.example__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  min-width: 370px;
}

/* те саме рішення що вище, але по Репеті
.example-actions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
}

.example-text {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
} */
.team {
  padding-top: 60px;
  background-color: var(--background-team-color);
  background-size: 100%;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    height: 428px;
  }
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__border {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primery-white-color);
  border-radius: inherit;
}

.clients__title {
  padding-top: 0px;
}

.clients__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__link {
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: inherit;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
  /* transition: inherit; */
}

/* Footer */
.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer_wrap {
    display: flex;
  }
}
.footer__adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__adress {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

/* Adress */
.adress {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .adress {
    text-align: left;
  }
}

.adress__item {
  font-style: normal;
}

.adress__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primery-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}

.adress__link,
.adress__contact.mail {
  display: block;
  margin-bottom: 9px;
}

.adress__contact {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.adress__contact:hover, .adress__contact:focus {
  color: var(--accent-color);
}

/* --------footer social link------------- */
.soc-list__container {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .soc-list__container {
    margin-bottom: 0;
    text-align: left;
  }
}

.soc-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.soc-list--background-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list--icon-light {
  fill: var(--primery-white-color);
}

/* 
.footer-soc-link {
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-icon {
  fill: var(--primery-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
} */
/* -----------Sing-up--------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: 93px;
    align-items: flex-end;
    flex-direction: row;
    gap: 0;
  }
}

.sing-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .sing-up {
    display: inline-block;
    width: 358px;
  }
}

.sing-up__lable {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.sing-up__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 100%;
  height: 50px;
  outline: rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.sing-up__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .sing-up__input {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sing-up__input {
    max-width: 358px;
    margin-top: 20px;
  }
}

.sign-up__button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 28px;
  max-width: 100%;
  width: 200px;
  height: 50px;
  /* padding: 10px 28px; */
}
@media screen and (min-width: 1200px) {
  .sign-up__button {
    margin-left: 12px;
  }
}

.sign-up__icon {
  position: absolute;
  top: 13px;
  left: 135px;
  right: 28px;
  bottom: 13px;
  margin-left: 10px;
}

/* СТИЛІ ДЛЯ ПОРТФОЛІО */
/* Button */
.button-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .button-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.button.all {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.button {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 0px 22px;
  margin-bottom: 15px;
  height: 38px;
  min-width: 73px;
  border: solid transparent;
}
.button:hover, .button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 50px;
  }
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/* Work */
.work {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .work {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.work__list-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work__list-item:hover, .work__list-item:focus {
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .work__list-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work__list-item {
    width: calc((100% - 60px) / 3);
  }
}

.work__list-item:hover .work__list-text {
  transform: translateY(0);
}

.work__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.work__list-actions {
  position: relative;
  overflow: hidden;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .work__list-actions {
    margin-top: 0;
  }
}

.work__list-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .list.work:nth-child(3n) { 
    margin-right: 0px;
}

.list.work:nth-child(-n + 3) {
    margin-bottom: 0px;
} */
.work__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}

.border-worklist {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  flex-grow: 1;
}/*# sourceMappingURL=main.css.map */