/* Footer */

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-content: center;
    align-items: baseline;
  }
}
.footer_wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.footer__adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    align-items: flex-start;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

/* Adress */
.adress {
  text-align: center;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.adress__item {
  font-style: normal;
}

.adress__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primery-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__link,
.adress__contact.mail {
  display: block;
  margin-bottom: 9px;
}

.adress__contact {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* --------footer social link------------- */

.soc-list__container {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    text-align: left;
  }
}

.soc-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.soc-list--background-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list--icon-light {
  fill: var(--primery-white-color);
}
/* 
.footer-soc-link {
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-icon {
  fill: var(--primery-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
} */

/* -----------Sing-up--------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    align-items: flex-end;
    flex-direction: row;
    gap: 0;
    width: auto;
  }
}

.sing-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
  }
}

.sing-up__lable {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.sing-up__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 100%;
  height: 50px;
  outline: rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 358px;
    margin-top: 20px;
  }
}

.sign-up__button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 28px;
  max-width: 100%;
  width: 200px;
  height: 50px;
  /* padding: 10px 28px; */

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.sign-up__icon {
  position: absolute;
  top: 13px;
  left: 135px;
  right: 28px;
  bottom: 13px;
  margin-left: 10px;
}
